config BAZ
    bool "Baz module"
    depends on BAR
    help
        The popular Baz module

comment "The Baz module requires the Bar module"
    depends on !BAR

if BAZ

source src/baz/qux/Kconfig

endif
